{% extends 'layout.html' %}
{% load static %}
{% block page_title %}Contact{% endblock page_title %}

{% block main_page_content %}
   <section class="page-title centred">
      <div class="pattern-layer"	style="background-image: url({% static 'images/background/page-title.jpg' %})"></div>
      <div class="auto-container">
         <div class="content-box">
            <h1>Our Services</h1>
            <ul class="bread-crumb clearfix">
            <li>
               <i class="icon-home"></i><a href="{% url 'home' %}">Home</a>
            </li>
            <li>Our Services</li>
            </ul>
         </div>
      </div>
   </section>

   <section class="address-section">
      <div class="auto-container">
			<div class="sec-title">
				<h2>Our Addresses</h2>
				<p>Excepteur sint occaecat cupidatat non proident sunt</p>
				<span
				class="separator"
				style="background-image: url({% static 'images/icons/separator-1.png' %})"
				></span>
			</div>
			<div class="row clearfix">
				<div class="col-lg-4 col-md-6 col-sm-12 address-column">
				<div class="single-adderss-block">
					<div class="inner-box">
						<h3>Main Office</h3>
						<ul class="info-list clearfix">
						<li>
							<i class="fas fa-map-marker-alt"></i>
							{{ezone_address.address}}
						</li>
						<li>
							<i class="fas fa-phone"></i>
							<a href="tel:{{ezone_address.mobile}}">{{ezone_address.mobile}}</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="mailto:{{ezone_address.mail}}">{{ezone_address.mail}}</a>
						</li>
						</ul>
					</div>
				</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 address-column">
				<div class="single-adderss-block">
					<div class="inner-box">
						<h3>London Office</h3>
						<ul class="info-list clearfix">
						<li>
							<i class="fas fa-map-marker-alt"></i>
							PO Box 16122 Collins Street West Victoria 8007 Landon
						</li>
						<li>
							<i class="fas fa-phone"></i>
							<a href="tel:{{ezone_address.mobile}}">{{ezone_address.mobile}}</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="mailto:{{ezone_address.mail}}">{{ezone_address.mail}}</a>
						</li>
						</ul>
					</div>
				</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 address-column">
				<div class="single-adderss-block">
					<div class="inner-box">
						<h3>Netherlands Office</h3>
						<ul class="info-list clearfix">
						<li>
							<i class="fas fa-map-marker-alt"></i>
							PO Box 16122 Collins Street West Victoria 8007 Netherlands
						</li>
						<li>
							<i class="fas fa-phone"></i>
							<a href="tel:{{ezone_address.mobile}}">{{ezone_address.mobile}}</a>
						</li>
						<li>
							<i class="fas fa-envelope"></i>
							<a href="mailto:{{ezone_address.mail}}">{{ezone_address.mail}}</a>
						</li>
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
   </section>

   <section class="contact-section">
      <div class="auto-container">
			<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
				<div class="sec-title">
				<h2>Get In Touch</h2>
				<p>Excepteur sint occaecat cupidatat non proident sunt</p>
				<span
					class="separator"
					style="
						background-image: url({% static 'images/icons/separator-1.png' %});
					"
				></span>
				</div>
				<div class="form-inner">
				<form
					method="post"
					action="{% url 'contact' %}"
					id="contact-form"
					class="default-form"
				>
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12 form-group">
						<input
							type="text"
							name="username"
							placeholder="Name"
							required
						/>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 form-group">
						<input
							type="email"
							name="email"
							placeholder="Email"
							required
						/>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 form-group">
						<input
							type="text"
							name="subject"
							placeholder="Subject"
							required
						/>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 form-group">
						<input
							type="text"
							name="phone"
							placeholder="Phone"
							required
						/>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 form-group">
						<textarea name="message" placeholder="Message"></textarea>
						</div>
						<div
						class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred"
						>
						<button
							type="submit"
							class="theme-btn-two"
							name="submit-form"
						>
							Submit Message<i class="flaticon-right-1"></i>
						</button>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
   </section>
{% endblock main_page_content %}