{% extends 'layout.html' %}
{% block page_title %}Signup{% endblock page_title %}

{% block main_page_content %}
   <section class="myaccount-section">
      <div class="auto-container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-12 col-sm-12 inner-column">
				<div class="inner-box signup-inner">
					<div class="upper-inner">
						<h3>Create An Account</h3>
					</div>
					<form	action="{% url 'signup' %}" method="post" class="default-form">
                  {% csrf_token %}
						<div class="form-group">
                     <label>Username *</label>
                     <input type="text" name="username" required="" />
						</div>
						<div class="form-group">
                     <label>Email address *</label>
                     <input type="email" name="email" required="">
						</div>
						<div class="form-group">
                     <label>Password *</label>
                     <input type="password" name="password1" required=""  />
						</div>
						<div class="form-group">
                     <label>Confirm Password *</label>
                     <input type="password" name="password2" />
						</div>
                  {% for message in messages %}
                     <p style="display: block; color: #d35d09; font-size: 14px; font-weight: bold; text-align:center">{{message}}</p>
                  {% endfor %}
						<div class="form-group">
						<button type="submit" class="theme-btn-two">
							Sign Up<i class="flaticon-right-1"></i>
						</button>
						</div>
					</form>
					<div class="lower-inner centred">
						<span>or</span>
						<p>
						Already have an account? <a href="{% url 'login' %}">Log In Now</a>
						</p>
					</div>
				</div>
				</div>
			</div>
		</div>
   </section>
{% endblock main_page_content %}